#openlayers-switcher-block--cycle-stands {
  background-image: url('/sites/all/themes/opencouncil/images/cycle-stands-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--car-parks {
  background-image: url('/sites/all/themes/opencouncil/images/car-parks-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--adventure-playgrounds {
  background-image: url('/sites/all/themes/opencouncil/images/adventure-playgrounds-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}


#openlayers-switcher-block--childrens-centres {
  background-image: url('/sites/all/themes/opencouncil/images/childrens-centres-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}


#openlayers-switcher-block--police-stations {
  background-image: url('/sites/all/themes/opencouncil/images/police-stations-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--community-toilets {
  background-image: url('/sites/all/themes/opencouncil/images/community-toilets-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--food-growing-projects {
  background-image: url('/sites/all/themes/opencouncil/images/food-growing-projects-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--libraries {
  background-image: url('/sites/all/themes/opencouncil/images/libraries-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--recycling {
  background-image: url('/sites/all/themes/opencouncil/images/recycling-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--primary-schools {
  background-image: url('/sites/all/themes/opencouncil/images/primary-schools-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--secondary-schools {
  background-image: url('/sites/all/themes/opencouncil/images/secondary-schools-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}

#openlayers-switcher-block--nursery-schools {
  background-image: url('/sites/all/themes/opencouncil/images/nursery-schools-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
  padding-right:10px;
}
