#map-center-locations {
	padding: 5px 0;
}

#block-map-center-map-center-block input[type="text"] {
	max-width: 80%;
}

#openlayers-switcher-block {
	margin-top: 10px;
}

/* openlayers-switcher-block */
/* the block contains the LayerSwitcher elements */

#openlayers-switcher-block a {
	display: block;
	float: left;
	height: 35px;
	width: 32%;
	position: relative;
	padding: 0;
	margin: 1px;
	border: 1px solid #FFF;
	cursor: pointer;
	color: #444;
	overflow: hidden;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	text-decoration: none;
}

#openlayers-switcher-block a:hover, #openlayers-switcher-block a.active {
	-moz-transition: all 0.3s ease-in;
	    -webkit-transition: all 0.3s ease-in;
	    -o-transition: all 0.3s ease-in;
	    transition: all 0.3s ease-in;
	    color: #FFF;
}

.switcher-text {
	text-align: right;
	font-size: 0.8em;
	line-height: 1.2;
	font-weight: normal;
	text-transform: lowercase;
	width: 60%;
	float: right;
}

.icon-switcher {
	text-align: left;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	background-image: url(../images/switcher-icons-40x40.png);
	position: absolute;
	top: 0;
	left: 5px;
}

/* @group Icons */

/* @group Car Parks */

#openlayers-switcher-block .openlayers-switcher-block--car-parks {
  border-color: #334E79;
}

#openlayers-switcher-block .openlayers-switcher-block--car-parks:hover, #openlayers-switcher-block .openlayers-switcher-block--car-parks.active {
  background-color: #334E79;
 }
 
.openlayers-switcher-block--car-parks .icon-switcher {
   background-position: 0px 0px;
 }
 
 .openlayers-switcher-block--car-parks:hover .icon-switcher, .openlayers-switcher-block--car-parks.active .icon-switcher {
    background-position: 0px -40px;
  }

/* @end */
/* @group Children's Centres */

#openlayers-switcher-block .openlayers-switcher-block--childrens-centres {
  border-color: #E43456;
}

 #openlayers-switcher-block .openlayers-switcher-block--childrens-centres:hover, #openlayers-switcher-block .openlayers-switcher-block--childrens-centres.active {
  background-color: #E43456;
  background-position: -40px -40px;
}

.openlayers-switcher-block--childrens-centres .icon-switcher {
  background-position: -40px 0px;
}

.openlayers-switcher-block--childrens-centres:hover .icon-switcher, .openlayers-switcher-block--childrens-centres.active .icon-switcher {
  background-position: -40px -40px;
}

/* @end */

/* @group Cycle Stands */

#openlayers-switcher-block .openlayers-switcher-block--cycle-stands {
  border-color: #8F6A8E;
}

#openlayers-switcher-block .openlayers-switcher-block--cycle-stands:hover, #openlayers-switcher-block .openlayers-switcher-block--cycle-stands.active {
  background-color: #8F6A8E;
}

.openlayers-switcher-block--cycle-stands .icon-switcher {
  background-position: -80px 0px;
}

.openlayers-switcher-block--cycle-stands:hover .icon-switcher, .openlayers-switcher-block--cycle-stands.active .icon-switcher {
  background-position: -80px -40px;
}

/* @end */

/* @group Police Stations */

#openlayers-switcher-block .openlayers-switcher-block--police-stations {
  border-color: #363638;
}

 #openlayers-switcher-block .openlayers-switcher-block--police-stations:hover, #openlayers-switcher-block .openlayers-switcher-block--police-stations.active {
  background-color: #363638;
}

.openlayers-switcher-block--police-stations .icon-switcher {
  background-position: -120px 0px;
}

.openlayers-switcher-block--police-stations:hover .icon-switcher, .openlayers-switcher-block--police-stations.active .icon-switcher {
  background-position: -120px -40px;
}

/* @end */

/* @group Toilets */

#openlayers-switcher-block .openlayers-switcher-block--community-toilets {
  border-color: #6B6B77;
}

 #openlayers-switcher-block .openlayers-switcher-block--community-toilets:hover, #openlayers-switcher-block .openlayers-switcher-block--community-toilets.active {
  background-color: #6B6B77;
}

.openlayers-switcher-block--community-toilets .icon-switcher {
  background-position: -160px 0px;
}

.openlayers-switcher-block--community-toilets:hover .icon-switcher, .openlayers-switcher-block--community-toilets.active .icon-switcher {
  background-position: -160px -40px;
}

/* @end */

/* @group Food Growing */

#openlayers-switcher-block .openlayers-switcher-block--food-growing-projects {
  border-color: #6BA237;
}

 #openlayers-switcher-block .openlayers-switcher-block--food-growing-projects:hover, #openlayers-switcher-block .openlayers-switcher-block--food-growing-projects.active {
  background-color: #6BA237;
}

.openlayers-switcher-block--food-growing-projects .icon-switcher {
  background-position: -200px 0px;
}

.openlayers-switcher-block--food-growing-projects:hover .icon-switcher, .openlayers-switcher-block--food-growing-projects.active .icon-switcher {
  background-position: -200px -40px;
}

/* @end */

/* @group Libraries */

#openlayers-switcher-block .openlayers-switcher-block--libraries {
   border-color: #F39C00;
}

 #openlayers-switcher-block .openlayers-switcher-block--libraries:hover, #openlayers-switcher-block .openlayers-switcher-block--libraries.active {
  background-color: #F39C00;
}

#openlayers-switcher-block .openlayers-switcher-block--libraries .icon-switcher {
  background-position: -240px 0px;
}

#openlayers-switcher-block .openlayers-switcher-block--libraries:hover .icon-switcher, #openlayers-switcher-block .openlayers-switcher-block--libraries.active .icon-switcher {
  background-position: -240px -40px;
}

/* @end */

/* @group Recycling */

#openlayers-switcher-block .openlayers-switcher-block--recycling {
  border-color: #476728;
}

 #openlayers-switcher-block .openlayers-switcher-block--recycling:hover, #openlayers-switcher-block .openlayers-switcher-block--recycling.active {
  background-color: #476728;
}

.openlayers-switcher-block--recycling .icon-switcher {
  background-position: -280px 0px;
}

.openlayers-switcher-block--recycling:hover .icon-switcher, .openlayers-switcher-block--recycling.active .icon-switcher {
  background-position: -280px -40px;
}

/* @end */

/* @group Primary Schools */

#openlayers-switcher-block .openlayers-switcher-block--primary-schools {
  border-color: #F8532A;
}

 #openlayers-switcher-block .openlayers-switcher-block--primary-schools:hover, #openlayers-switcher-block .openlayers-switcher-block--primary-schools.active {
  background-color: #F8532A;
}

.openlayers-switcher-block--primary-schools .icon-switcher {
  background-position: -320px 0px;
}

.openlayers-switcher-block--primary-schools:hover .icon-switcher, .openlayers-switcher-block--primary-schools.active .icon-switcher {
  background-position: -320px -40px;
}

/* @end */

/* @group Secondary Schools */

#openlayers-switcher-block .openlayers-switcher-block--secondary-schools {
  border-color: #7F2737;
}

 #openlayers-switcher-block .openlayers-switcher-block--secondary-schools:hover, #openlayers-switcher-block .openlayers-switcher-block--secondary-schools.active {
  background-color: #7F2737;
}

.openlayers-switcher-block--secondary-schools .icon-switcher {
  background-position: -360px 0px;
}

.openlayers-switcher-block--secondary-schools:hover .icon-switcher, .openlayers-switcher-block--secondary-schools.active .icon-switcher {
  background-position: -360px -40px;
}

/* @end */

/* @group Nursery Schools */

#openlayers-switcher-block .openlayers-switcher-block--nursery-schools {
  border-color: #B36473;
}

 #openlayers-switcher-block .openlayers-switcher-block--nursery-schools:hover, #openlayers-switcher-block .openlayers-switcher-block--nursery-schools.active {
  background-color: #B36473;
}

.openlayers-switcher-block--nursery-schools .icon-switcher {
  background-position: -400px 0px;
}

.openlayers-switcher-block--nursery-schools:hover .icon-switcher, .openlayers-switcher-block--nursery-schools.active .icon-switcher {
  background-position: -400px -40px;
}

/* @end */

/* @group Special Schools */

#openlayers-switcher-block .openlayers-switcher-block--special-schools {
  border-color: #B36473;
}

 #openlayers-switcher-block .openlayers-switcher-block--special-schools:hover, #openlayers-switcher-block .openlayers-switcher-block--special-schools.active {
  background-color: #B36473;
}

.openlayers-switcher-block--special-schools .icon-switcher {
  background-position: -440px 0px;
}

.openlayers-switcher-block--special-schools:hover .icon-switcher, .openlayers-switcher-block--special-schools.active .icon-switcher {
  background-position: -440px -40px;
}

/* @end */

/* @group Playgrounds */

#openlayers-switcher-block .openlayers-switcher-block--adventure-playgrounds {
   border-color: #C21432;
 }

#openlayers-switcher-block .openlayers-switcher-block--adventure-playgrounds:hover, #openlayers-switcher-block .openlayers-switcher-block--adventure-playgrounds.active {
  background-color: #C21432;
}

.openlayers-switcher-block--adventure-playgrounds .icon-switcher {
  background-position: -480px 0px;
}

.openlayers-switcher-block--adventure-playgrounds:hover .icon-switcher, .openlayers-switcher-block--adventure-playgrounds.active .icon-switcher {
  background-position: -480px -40px;
}

/* @end */

/* @end */
