/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Typography & font colours*/
body {
     font-family:helvetica, arial, sans-serif;
     font-size:110%;
}
h1,h2,h3,h4,h5 {
    font-family:helvetica, arial, sans-serif;
    color:#795582;
}

a {color:#000000; font-weight: bold; text-decoration: none}
a:link {color: #795582; font-weight: bold; text-decoration: none}
a:visited {color: #795582; text-decoration: none}
a:hover {text-decoration: underline}
a[name]:hover {text-decoration: none; color: #000000}
a:active {color: #000000; background-color: #eeeeee; text-decoration: underline}

p {font-size: 100%; margin: 3px 0 15px; line-height: 125%}

h1.title {
    font-size:3em;
}

/* Header */
#section-content {
    padding-top:6em;
}
header#section-header {
    position:fixed;
    background:#333;
    width:100%;
    z-index:100;
}

.logo-img {
    position:relative;
    top:12px
}


/* Main menu */
#zone-menu {
    background:#383838;
    font-size:0.8em;
}
#region-menu {
    background:#795582;
}
#zone-menu a {
    color:#fff;
}

#zone-branding-wrapper {
    /*
    fix for ie z-index problem, add this on the top container that holds your menu block
    */
    position:relative;
    z-index:2
}
#block-system-main-menu {
    margin-bottom:1em;
}
#block-system-main-menu ul.menu {
    margin:0;
    padding:0;
    list-style:none;
    position:relative
}
#block-system-main-menu ul.menu li a {
    display: block;
    line-height: 1em;
    padding: 0.5em;
    outline:none;
    background:#333;
    color:#FFF;
    border:1px solid #666;
}
#block-system-main-menu ul.menu li a:hover {
    background:#000;
    text-decoration:none
}
#block-system-main-menu ul.menu li span.over {
    background:#CCC;
    color: #000000;
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    padding: 0 0.5em;
    text-align: center;
    cursor:pointer
}
#block-system-main-menu ul.menu li span.over:hover {
    background:#F90;
    color:#FFF
}
#block-system-main-menu ul.menu ul {
    margin:0;
    padding:0;
    display:none;
}
#block-system-main-menu ul.menu ul li a {
    text-indent:0;
    color:#000;
    background:#CCC;
    text-decoration:none;
}
#block-system-main-menu ul.menu ul li a:hover {
    background: #EBEBEB
}
#block-system-main-menu ul.menu ul li a.last {
    border-bottom: none;
}

/* doit-box */
.view-do-it-intro {
   border:solid 1px #000;
   background:#ffffaa;
   font-size:150%;
   padding:1em;
}

.view-do-it-intro .views-field-field-link {
    margin-top:1em;
}
.view-do-it-intro .views-field-field-link a, .view-do-it-intro .views-field-field-link a:visited, .view-do-it-intro .views-field-field-link a:active {
    border:outset 3px #808080;
    background-color:#fafafa;
    padding:0.5em;
}

/* Footer */
footer#section-footer {
    background:#ddd;
    min-height:8em;
    border-top:solid 1px #808080;
}


.field
{
font-weight: normal; 
font-size: 100%; 
margin: 0;
}

div.field-label-above
{
padding-top:20px;
}

/*Place template*/
.views-field-field-place-image .field-content img
{
border: solid 1px #000;
padding: 1px;
}

.view-map-view .view-content
{
border: solid 1px #000;
padding: 1px;
}



.field-name-field-address
{

float:left;
width: 300px;
}

.field-name-field-place-how-to-get-here
{
clear:left;
float:left;

width: 300px;
}
.field-name-field-facilities
{

float:right;
width: 300px;

}

.field-name-field-opening-times
{
clear:left;
float:left;

width: 300px;
}

// map page switcher style
// NOTE: name='adventure-playgrounds' - the title of the view pane MUST be the same.

.dataLayersDiv input[name='adventure-playgrounds'] + .labelSpan{
  background-image: url('/sites/all/themes/opencouncil/images/police-stations-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
}

.dataLayersDiv input[name='car-parks'] + .labelSpan{
  background-image: url('/sites/all/themes/opencouncil/images/police-stations-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
}

.dataLayersDiv input[name='childrens-centres'] + .labelSpan{
  background-image: url('/sites/all/themes/opencouncil/images/police-stations-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
}

.dataLayersDiv input[name='cycle-stands'] + .labelSpan{
  background-image: url('/sites/all/themes/opencouncil/images/police-stations-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
}

.dataLayersDiv input[name='police-stations'] + .labelSpan{
  background-image: url('/sites/all/themes/opencouncil/images/police-stations-on.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 85px;
  text-indent: -9999px;
}


.dataLayersDiv input {
/* display: none; */
}

