/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* @group Standard Settings */
	
	body {
	font: 87.5%/1.5 Arial, sans-serif;
	color: #666;
	background: #FFF;
	}
		
	.gamma {
	margin-left: 0;
	margin-right: 0;
	}
	
	.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

  .clear-left {
    clear: left;
  }

  .float-left {
    float: left;
  }

  .float-image.float-left {
    margin: 0 10px 10px 0;
  }

  .float-right {
    float: right;
  }

  .float-image.float-right {
    margin: 0 0 10px 10px;
  }
	
	/* @end */

/* @group System Messages */

div.messages {
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
color: #C09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background: #FCF8E3;
border: 1px solid #FBEED5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.messages.status {
color: #468847;
background: #DFF0D8;
border-color: #D6E9C6;
}
	
.messages.warning {
color: #3A87AD;
background: #D9EDF7;
border-color: #BCE8F1;
}
	
.messages.error {
color: #B94A48;
background: #F2DEDE;
border-color: #EED3D7;
}

div.messages ul {
margin: 0px 0px 0px 15px; /* LTR */
padding: 0px;
}

div.messages ul li {
list-style: disc;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
border: 1px solid red;
}

/* @end */

/* @group Type Elements */

/* ==========TYPE ELEMENTS========== */

h1, h2, h3, h4, h5, h6 {
color:#666;
font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
margin-bottom: 10px;
}

h1#page-title {
font-size: 1.8em;
}

h2 {
font-size: 1.4em;
line-height: 1.7;
}

h3 {
font-size: 1.2em;
line-height: 1.5;
}

h4 {
	
}

blockquote {
font-family: Georgia, serif;
font-style: italic;
margin: 20px 0px;
border-left: 10px solid #F7F7F7;
display: block;
padding-left: 20px;
font-size: 1em;
}

p {
line-height: 1.8;
color: #666;
font-size: 1em;
margin: 10px 0;
}

.subtitle {
font-size: 1em;
color: #999;
padding-bottom: 10px;
}

/*::selection {
background: #865477;
color: #FFFFFF;
}*/

/* @end */

/* Typography & font colours*/

a {color:#000000; font-weight: bold; text-decoration: none}
a:link {color: #795582; font-weight: bold; text-decoration: none}
a:visited {color: #795582; text-decoration: none}
a:hover {text-decoration: underline}
a[name]:hover {text-decoration: none; color: #000000}
a:active {color: #000000; text-decoration: underline}

p {font-size: 100%; margin: 3px 0 15px; line-height: 125%}

h1.title {
    font-size:2.6em;
}

/* Header */
#section-content {
    padding-top:1em;
}

.block-search {
  text-align: right;
  margin-top: 10px;
}

.block-user-menu ul.menu {
  float: right;
}

.block-user-menu ul.menu li {
  list-style-type: none;
  list-style-image: none;
  display: inline-block;
}

/* Restrict height for mobile devices */
.view-points-of-interest .openlayers-container, .view-points-of-interest .openlayers-map {
	height: 200px!important;
}

.olControlPanZoomBar {
	display: none;
}

/* Main menu */

#zone-branding-wrapper {
    /*
    fix for ie z-index problem, add this on the top container that holds your menu block
    position:relative;
    z-index:2
    */
    background: #383838;
    padding: 10px 0;
}

.zone-menu {
  padding: 10px 0 20px;
}

#block-system-main-menu {
    margin-bottom:1em;
}
#block-system-main-menu ul.menu {
    margin:0;
    padding:0;
    list-style:none;
    position:relative
}
#block-system-main-menu ul.menu li a {
    display: block;
    line-height: 1em;
    padding: 0.5em;
    outline:none;
    background:#333;
    color:#FFF;
    border:1px solid #666;
}
#block-system-main-menu ul.menu li a:hover {
    background:#000;
    text-decoration:none
}
#block-system-main-menu ul.menu li span.over {
    background:#CCC;
    color: #000000;
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    padding: 0 0.5em;
    text-align: center;
    cursor:pointer
}
#block-system-main-menu ul.menu li span.over:hover {
    background:#F90;
    color:#FFF
}
#block-system-main-menu ul.menu ul {
    margin:0;
    padding:0;
    display:none;
}
#block-system-main-menu ul.menu ul li a {
    text-indent:0;
    color:#000;
    background:#CCC;
    text-decoration:none;
}
#block-system-main-menu ul.menu ul li a:hover {
    background: #EBEBEB
}
#block-system-main-menu ul.menu ul li a.last {
    border-bottom: none;
}

/* doit-box */
.view-do-it-intro {
   border:solid 1px #000;
   background:#ffffaa;
   font-size:150%;
   padding:1em;
}

.view-do-it-intro .views-field-field-link {
    margin-top:1em;
}
.view-do-it-intro .views-field-field-link a, .view-do-it-intro .views-field-field-link a:visited, .view-do-it-intro .views-field-field-link a:active {
    border:outset 3px #808080;
    background-color:#fafafa;
    padding:0.5em;
}

/* Footer */
#section-footer {
    background:#ddd;
    min-height:8em;
    border-top:solid 1px #808080;
}


.field
{
font-weight: normal; 
font-size: 100%; 
margin: 0;
}

div.field-label-above
{
padding-top:20px;
}

/*Place template*/
.views-field-field-place-image .field-content img
{
border: solid 1px #000;
padding: 1px;
}

.view-map-view .view-content
{
border: solid 1px #000;
padding: 1px;
}



.field-name-field-address
{

float:left;
width: 300px;
}

.field-name-field-place-how-to-get-here
{
clear:left;
float:left;

width: 300px;
}
.field-name-field-facilities
{

/* float:right; */
/* width: 300px; */

}

.field-name-field-opening-times
{
clear:left;
float:left;
width: 300px;
}


/* Town Page */

.field-name-field-town-image {
	float: left;
	margin: 0 20px 20px 0;
}

.block-style {
	background: #F7F7F7;
  margin-bottom: 10px;
  border: 1px solid #DCDCDC;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.block-style h2.block-title {
	font-size: 1.2em;
	background: #EBEBEB;
	padding: 5px 10px;
  margin-bottom: 0;
}

.block-style .content {
	padding: 10px;
}

/* Styling for place page - to be incroporated into main styles */

.node-type-point-of-interest h2 {
  background: #EBEBEB;
  padding: 5px 10px;
}

/* @group Standard Button */
  
  input.form-submit,
  a.button,
  a.button:link,
  a.button:visited,
  .action-links a
   {
    display: inline-block;
      *display: inline;
      padding: 4px 14px;
      margin-bottom: 0;
      *margin-left: .3em;
      font-size: 14px;
      line-height: 20px;
      *line-height: 20px;
      color: #FFF;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #805076;
      *background-color: #805076;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AA7F92), to(#805076));
      background-image: -webkit-linear-gradient(top, #AA7F92, #805076);
      background-image: -o-linear-gradient(top, #AA7F92, #805076);
      background-image: linear-gradient(to bottom, #AA7F92, #805076);
      background-image: -moz-linear-gradient(top, #AA7F92, #805076);
      background-repeat: repeat-x;
      border: 1px solid #bbbbbb;
      *border: 0;
      border-color: #805076 #805076 #AE719F;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
      filter: progid:dximagetransform.microsoft.gradient(enabled=false);
      *zoom: 1;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
       margin-right: 8px;
  }
  
  input.form-submit:hover,
  a.button:hover,
  a.button:active
  .action-links a:hover {
      color: #FFF;
        text-decoration: none;
        background-color: #805076;
        *background-color: #805076;
        /* Buttons in IE7 don't get borders, so darken on hover */
      
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
           -moz-transition: background-position 0.1s linear;
             -o-transition: background-position 0.1s linear;
                transition: background-position 0.1s linear;
  }
  
  a.button:active, a.button.active {
    background-color: #805076;
      background-color: #805076 \9;
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  /* @end */
  
  /* @group Sizes */
  
  a.button.small {
  padding: 3px 9px;
    font-size: 12px;
    line-height: 18px;
  }
  
  a.button.large {
  padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  
  /* @end */

  .region-sidebar-second a.button {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 5px;
  }

  /* Override Accordion Theming */
  .ui-accordion .ui-accordion-header h3 {
    margin-bottom: 0px;
    color: #795582;
  }

  .ui-widget-content {
    color: #666;
  }

  .ui-widget {
    font: 87.5%/1.5 Arial, sans-serif;
  }

  .ui-accordion .ui-accordion-header {
    background: #EBEBEB;
  }

  /* Bulletin */
  .view-bulletin {
    background: #FCF8E3;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #C09853;
  }

  .view-bulletin h3, .view-bulletin p {
    color: #C09853;
  }

  .view-bulletin p {
    margin-bottom: 0px;
  }
<<<<<<< HEAD

  /* List */

  .views-field-field-title-and-description ul {
    list-style-type: disc;
    margin-left: 30px;
  }

  /* ----- Homepage ------- */

  p.welcome {
    margin: 0px;
  }

  .front .zone-content {
    border-top: 1px solid #DCDCDC;
    margin-top: 20px;
    padding-top: 10px;
  }

  /* Menu */
  .block-om-maximenu-om-maximenu-1 {
    background-color: #F7F7F7;
    border: 1px solid #ccc;
  }

  .block-om-maximenu-om-maximenu-1 h2.block-title {
    font-size: 1.4em;
    background: #EBEBEB url(../images/icon-menu.png) no-repeat 5px;
    padding: 5px 10px;
    margin-bottom: 0;
    text-indent: 30px
  }

  .om-maximenu.om-maximenu-block ul.om-menu {
    width: 100%;
    float: none;
  }

  #om-maximenu-task-menu li.om-leaf {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
    height: auto;
  }

  /* Match background colour of active menu item to background of fly out */

  #om-maximenu-task-menu li.open, #om-maximenu-task-menu li:hover {
    background-color: #FFF;
  }
  /* properties for the main flyout */

  .om-maximenu-no-style .om-maximenu-content {
    width: 100%;
    left: 0;
    padding: 0;
    top: 40px; /* sets the height between the link and fly out */
    position: relative;
  }

  /* Main styling for the flyout */

  .om-maximenu-no-style .om-maximenu-middle {
    padding: 5px 0;
  margin: 0 0 40px;
    position: relative;
      background-color: #FFF;
  }

  /* Add an arrow to indicate the drop down */

  .om-maximenu ul.om-menu li.om-leaf .om-link.task {
    background: url(../images/menu-arrow-down.png) no-repeat right;
    text-indent: 50px;
    padding: 0;
    width: 100%;
  }

  /* Action Icons */

  .leaf-apply {
    background: url(../images/icon-apply-30.png) no-repeat 10px 5px;
  }

  .leaf-pay {
    background: url(../images/icon-pay-30.png) no-repeat 10px 5px;
  }

  .leaf-report-it {
    background: url(../images/icon-report-30.png) no-repeat 10px 5px;
  }

  .leaf-book-it {
    background: url(../images/icon-book-30.png) no-repeat 10px 5px;
  }

  /* Slider */
  .view-home-featured-content .caption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.45);
    width: 100%;
  }

  .caption h2 {
    margin-bottom: 0px;
  }

  .caption h2 a, .caption p {
    color: #FFF;
    padding: 0 5px;
    margin: 5px 0;
  }

  .caption p {
    display: none;
  }

  .flexslider {
    margin-bottom: 0px;
  }

  /* Feedback */
  #block-feedback-form .feedback-link {
    font-size: 18px;
    background: #795582;
    padding: 5px 10px;
    color: #FFF;
  }

  .page-node .statistics_counter {
    display: none;
  }