/* @override 
	http://localhost:8888/lambeth/sites/all/themes/opencouncil/css/global.css?mdjdx9
	http://localhost:8888/lambeth/sites/all/themes/opencouncil/css/global.css?mdu5ka */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Typography & font colours*/
body {
     font-family:helvetica, arial, sans-serif;
     font-size:87.5%;
}
h1,h2,h3,h4,h5 {
    font-family:helvetica, arial, sans-serif;
    color:#795582;
}

a {color:#000000; font-weight: bold; text-decoration: none}
a:link {color: #795582; font-weight: bold; text-decoration: none}
a:visited {color: #795582; text-decoration: none}
a:hover {text-decoration: underline}
a[name]:hover {text-decoration: none; color: #000000}
a:active {color: #000000; background-color: #eeeeee; text-decoration: underline}

p {font-size: 100%; margin: 3px 0 15px; line-height: 125%}

h1.title {
    font-size:3em;
}

/* Header */
#section-content {
    padding-top:6em;
}

#section-header {
    position:fixed;
    background:#333;
    width:100%;
    z-index:100;
}

.logo-img {
    position:relative;
    /* this is the value for desktops */
    /* top:12px; */
    /* this is the value for mobile */
    top:0;
}

.view-points-of-interest .openlayers-container, .openlayers-map {
	height: 200px!important;
}

.olControlPanZoomBar {
	display: none;
}

/* Main menu */
#zone-menu {
    background:#383838;
    font-size:0.8em;
}

#region-menu {
    background:#795582;
}

#zone-menu a {
    color:#fff;
}

#zone-branding-wrapper {
    /*
    fix for ie z-index problem, add this on the top container that holds your menu block
    */
    position:relative;
    z-index:2
}
#block-system-main-menu {
    margin-bottom:1em;
}
#block-system-main-menu ul.menu {
    margin:0;
    padding:0;
    list-style:none;
    position:relative
}
#block-system-main-menu ul.menu li a {
    display: block;
    line-height: 1em;
    padding: 0.5em;
    outline:none;
    background:#333;
    color:#FFF;
    border:1px solid #666;
}
#block-system-main-menu ul.menu li a:hover {
    background:#000;
    text-decoration:none
}
#block-system-main-menu ul.menu li span.over {
    background:#CCC;
    color: #000000;
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    padding: 0 0.5em;
    text-align: center;
    cursor:pointer
}
#block-system-main-menu ul.menu li span.over:hover {
    background:#F90;
    color:#FFF
}
#block-system-main-menu ul.menu ul {
    margin:0;
    padding:0;
    display:none;
}
#block-system-main-menu ul.menu ul li a {
    text-indent:0;
    color:#000;
    background:#CCC;
    text-decoration:none;
}
#block-system-main-menu ul.menu ul li a:hover {
    background: #EBEBEB
}
#block-system-main-menu ul.menu ul li a.last {
    border-bottom: none;
}

/* doit-box */
.view-do-it-intro {
   border:solid 1px #000;
   background:#ffffaa;
   font-size:150%;
   padding:1em;
}

.view-do-it-intro .views-field-field-link {
    margin-top:1em;
}
.view-do-it-intro .views-field-field-link a, .view-do-it-intro .views-field-field-link a:visited, .view-do-it-intro .views-field-field-link a:active {
    border:outset 3px #808080;
    background-color:#fafafa;
    padding:0.5em;
}

/* Footer */
#section-footer {
    background:#ddd;
    min-height:8em;
    border-top:solid 1px #808080;
}


.field
{
font-weight: normal; 
font-size: 100%; 
margin: 0;
}

div.field-label-above
{
padding-top:20px;
}

/*Place template*/
.views-field-field-place-image .field-content img
{
border: solid 1px #000;
padding: 1px;
}

.view-map-view .view-content
{
border: solid 1px #000;
padding: 1px;
}



.field-name-field-address
{

float:left;
width: 300px;
}

.field-name-field-place-how-to-get-here
{
clear:left;
float:left;

width: 300px;
}
.field-name-field-facilities
{

/* float:right; */
/* width: 300px; */

}

.field-name-field-opening-times
{
clear:left;
float:left;
width: 300px;
}

#map-center-locations {
	padding: 5px 0;
}

#map-switcher-block {
	margin-top: 10px;
}

#map-switcher-block a {
	display: block;
	float: left;
	height: 35px;
	width: 32%;
	position: relative;
	padding: 0;
	margin: 1px;
	border: 1px solid #FFF;
	cursor: pointer;
	color: #444;
	overflow: hidden;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	text-decoration: none;
}

#map-switcher-block a:hover {
	-moz-transition: all 0.3s ease-in;
	    -webkit-transition: all 0.3s ease-in;
	    -o-transition: all 0.3s ease-in;
	    transition: all 0.3s ease-in;
	    color: #FFF;
}

.switcher-text {
	text-align: right;
	font-size: 0.8em;
	line-height: 1.2;
	font-weight: normal;
	text-transform: lowercase;
	width: 60%;
	float: right;
}

.icon-switcher {
	text-align: left;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	background-image: url(../images/switcher-icons-40x40.png);
	position: absolute;
	top: 0;
	left: 5px;
}

/* @group Icons */

/* @group Car Parks */

#map-switcher-block #openlayers-switcher-block--car-parks {
  border-color: #334E79;
}

#map-switcher-block #openlayers-switcher-block--car-parks:hover {
  background-color: #334E79;
 }
 
#openlayers-switcher-block--car-parks .icon-switcher {
   background-position: 0px 0px;
 }
 
 #openlayers-switcher-block--car-parks:hover .icon-switcher {
    background-position: 0px -40px;
  }

/* @end */
/* @group Children's Centres */

#map-switcher-block #openlayers-switcher-block--childrens-centres {
  border-color: #E43456;
}

 #map-switcher-block #openlayers-switcher-block--childrens-centres:hover {
  background-color: #E43456;
  background-position: -40px -40px;
}

#openlayers-switcher-block--childrens-centres .icon-switcher {
  background-position: -40px 0px;
}

#openlayers-switcher-block--childrens-centres:hover .icon-switcher {
  background-position: -40px -40px;
}

/* @end */

/* @group Cycle Stands */

#map-switcher-block #openlayers-switcher-block--cycle-stands {
  border-color: #8F6A8E;
}

#map-switcher-block #openlayers-switcher-block--cycle-stands:hover {
  background-color: #8F6A8E;
}

#openlayers-switcher-block--cycle-stands .icon-switcher {
  background-position: -80px 0px;
}

#openlayers-switcher-block--cycle-stands:hover .icon-switcher {
  background-position: -80px -40px;
}

/* @end */

/* @group Police Stations */

#map-switcher-block #openlayers-switcher-block--police-stations {
  border-color: #363638;
}

 #map-switcher-block #openlayers-switcher-block--police-stations:hover {
  background-color: #363638;
}

#openlayers-switcher-block--police-stations .icon-switcher {
  background-position: -120px 0px;
}

#openlayers-switcher-block--police-stations:hover .icon-switcher {
  background-position: -120px -40px;
}

/* @end */

/* @group Toilets */

#map-switcher-block #openlayers-switcher-block--community-toilets {
  border-color: #6B6B77;
}

 #map-switcher-block #openlayers-switcher-block--community-toilets:hover {
  background-color: #6B6B77;
}

#openlayers-switcher-block--community-toilets .icon-switcher {
  background-position: -160px 0px;
}

#openlayers-switcher-block--community-toilets:hover .icon-switcher {
  background-position: -160px -40px;
}

/* @end */

/* @group Food Growing */

#map-switcher-block #openlayers-switcher-block--food-growing-projects {
  border-color: #6BA237;
}

 #map-switcher-block #openlayers-switcher-block--food-growing-projects:hover {
  background-color: #6BA237;
}

#openlayers-switcher-block--food-growing-projects .icon-switcher {
  background-position: -200px 0px;
}

#openlayers-switcher-block--food-growing-projects:hover .icon-switcher {
  background-position: -200px -40px;
}

/* @end */

/* @group Libraries */

#map-switcher-block #openlayers-switcher-block--libraries {
   border-color: #F39C00;
}

 #map-switcher-block #openlayers-switcher-block--libraries:hover {
  background-color: #F39C00;
}

#map-switcher-block #openlayers-switcher-block--libraries .icon-switcher {
  background-position: -240px 0px;
}

#map-switcher-block #openlayers-switcher-block--libraries:hover .icon-switcher {
  background-position: -240px -40px;
}

/* @end */

/* @group Recycling */

#map-switcher-block #openlayers-switcher-block--recycling {
  border-color: #476728;
}

 #map-switcher-block #openlayers-switcher-block--recycling:hover {
  background-color: #476728;
}

#openlayers-switcher-block--recycling .icon-switcher {
  background-position: -280px 0px;
}

#openlayers-switcher-block--recycling:hover .icon-switcher {
  background-position: -280px -40px;
}

/* @end */

/* @group Primary Schools */

#map-switcher-block #openlayers-switcher-block--primary-schools {
  border-color: #F8532A;
}

 #map-switcher-block #openlayers-switcher-block--primary-schools:hover {
  background-color: #F8532A;
}

#openlayers-switcher-block--primary-schools .icon-switcher {
  background-position: -320px 0px;
}

#openlayers-switcher-block--primary-schools:hover .icon-switcher {
  background-position: -320px -40px;
}

/* @end */

/* @group Secondary Schools */

#map-switcher-block #openlayers-switcher-block--secondary-schools {
  border-color: #7F2737;
}

 #map-switcher-block #openlayers-switcher-block--secondary-schools:hover {
  background-color: #7F2737;
}

#openlayers-switcher-block--secondary-schools .icon-switcher {
  background-position: -360px 0px;
}

#openlayers-switcher-block--secondary-schools:hover .icon-switcher {
  background-position: -360px -40px;
}

/* @end */

/* @group Nursery Schools */

#map-switcher-block #openlayers-switcher-block--nursery-schools {
  border-color: #B36473;
}

 #map-switcher-block #openlayers-switcher-block--nursery-schools:hover {
  background-color: #B36473;
}

#openlayers-switcher-block--nursery-schools .icon-switcher {
  background-position: -400px 0px;
}

#openlayers-switcher-block--nursery-schools:hover .icon-switcher {
  background-position: -400px -40px;
}

/* @end */

/* @group Special Schools */

#map-switcher-block #openlayers-switcher-block--special-schools {
  border-color: #B36473;
}

 #map-switcher-block #openlayers-switcher-block--special-schools:hover {
  background-color: #B36473;
}

#openlayers-switcher-block--special-schools .icon-switcher {
  background-position: -440px 0px;
}

#openlayers-switcher-block--special-schools:hover .icon-switcher {
  background-position: -440px -40px;
}

/* @end */

/* @group Playgrounds */

#map-switcher-block #openlayers-switcher-block--adventure-playgrounds {
   border-color: #C21432;
 }

#map-switcher-block #openlayers-switcher-block--adventure-playgrounds:hover {
  background-color: #C21432;
}

#openlayers-switcher-block--adventure-playgrounds .icon-switcher {
  background-position: -480px 0px;
}

#openlayers-switcher-block--adventure-playgrounds:hover .icon-switcher {
  background-position: -480px -40px;
}

/* @end */

/* @end */

#block-map-center-map-center-block input[type="text"] {
	max-width: 80%;
}