/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 /* Typography */

 h1.title {
 	font-size: 2em;
 }

 #openlayers-switcher-block a {
   	height: 85px;
 	width: 85px;
  	margin: 5px;
 	border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border: 2px solid #FFF;
 	text-align: center;
 }
  
 .switcher-text {
 	text-align: center;
 	margin-top: 50px;
 	width: 90%;
 	float: none;
 	display: inline-block;
 }
 
 .icon-switcher {
 	position: absolute;
 	top: 7px;
 	left: 20px;
 }
 
  /* Set map back to 400px */
 .view-points-of-interest .openlayers-container, .view-points-of-interest .openlayers-map {
 	height: 400px!important;
 }
 
 .olControlPanZoomBar {
 	display: block;
 }

 .caption p {
    display: block;
  }

   /* Menu */

  .block-om-maximenu-om-maximenu-1 {
    height: 40px;
  }

  .block-om-maximenu-om-maximenu-1 .content {
    display: block!important;
  }

  .block-om-maximenu-om-maximenu-1 h2.block-title {
  	display: none;
  }

  .om-maximenu.om-maximenu-block ul.om-menu {
    float: left;
  }

  #om-maximenu-task-menu li.om-leaf {
    border-right: 1px solid #DCDCDC;
    font-size: 1.2em;
    width: auto;
    float: left;
  }

  /* properties for the main flyout */

  .om-maximenu-no-style .om-maximenu-content {
    width: 700px;
    top: 40px; /* sets the height bewteen the link and fly out */
    position: absolute;
  }

/* Main styling for the flyout */

  .om-maximenu-no-style .om-maximenu-middle {
  margin: 5px 0 0;
    position: relative;
    z-index: 0;
    border: 1px solid #ccc;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

 /* Add an arrow to indicate the drop down */

  .om-maximenu ul.om-menu li.om-leaf .om-link.task {
    padding-right: 30px;
    width: auto;
  }

  /* Need to set negative left margin for each of the fly outs - will have to set manually for each screen size */
  .om-maximenu-no-style .leaf-apply .om-maximenu-content {
    margin-left: 0px;
  }

  .om-maximenu-no-style .leaf-pay .om-maximenu-content {
    margin-left: -128px;
  }

  .om-maximenu-no-style .leaf-report-it .om-maximenu-content {
    margin-left: -148px;
  }

  .om-maximenu-no-style .leaf-book-it .om-maximenu-content {
    margin-left: -148px;
  }