/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 #block-openlayers-switcher-openlayers-switcher-block #map-switcher-block a {
  	background-position: center 10px;
  	height: 85px;
 	width: 85px;
 	font-size: 0.6em;
 	text-indent: 0;
 	text-align: center;
 	color: #FFF;
 	line-height: 1.1;
 	margin: 5px;
 	border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border: 2px solid #FFF;
 }
 
 #block-openlayers-switcher-openlayers-switcher-block #map-switcher-block span {
 	position: absolute;
 	top: auto;
 	right: auto;
 	bottom: 10px;
 	left: 50%;
 	width: 64px;
 	margin-left: -32px;
 	text-align: center;
 }