/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 #openlayers-switcher-block a {
   	height: 85px;
 	width: 85px;
  	margin: 5px;
 	border-radius: 5px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border: 2px solid #FFF;
 	text-align: center;
 }
  
 .switcher-text {
 	text-align: center;
 	margin-top: 50px;
 	width: 90%;
 	float: none;
 	display: inline-block;
 }
 
 .icon-switcher {
 	position: absolute;
 	top: 7px;
 	left: 20px;
 }
 
  /* Set map back to 400px */
 .view-points-of-interest .openlayers-container, .openlayers-map {
 	height: 400px!important;
 }
 
 .olControlPanZoomBar {
 	display: block;
 }
