/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

.logo-img {
    position:relative;
    /* this is the value for desktops */
    top:12px;
    /* this is the value for mobile */
    /* top:0; */
}

/* Search box */
#block-search-form input.form-text {
    width:auto;
}

/* Search box */
#block-search-form {
    position:absolute;
    top:1em; right:0;
}

/* Main menu */
#block-system-main-menu {
    background: #333333;
}
#block-system-main-menu li ul li {
    width: 200px;
}
#block-system-main-menu li {
    float: left;
    position: relative;
}
#block-system-main-menu li ul {
    left: 0px;
    position: absolute !important;
    z-index: 999;
}

#region-menu {
    width:auto;
    float:right;
    padding:6px;
    position:relative;
    top:10px;
    right:-10px;
}
